<html>
    <head>
        <title> Game Over</title>
        <link rel="stylesheet" href="css/test.css">
    </head>
    <div class="center">
Time's Up <br>
{{message}}
        <form id="game" class='paragraph' action="map" method="get">
<button type="submit" name="submit"> Start Over </button>
</form>
</div>