<html>
    <head>
        <title> Home Page</title>
        <link rel="stylesheet" href="css/test.css">
    </head>
    <nav class="nav-bar" role="navigation">
        <div class="box"><a href="/2021spuli/getweather">Today's Weather</a></div>
        <div class="box"><a href="/2021spuli/getweekly">Weekly Weather</a></div>
        <div class="box"><a href="/2021spuli/weatherform">Find Weather</a></div>
        <div class="box"><a href="/2021spuli/madlib">Mad Lib</a></div>
        <div class="box"><a href="/2021spuli/map"> Map Game</a></div>
        <div class="box"><a href="/2021spuli/login"> Ratings</a></div>
        <br>
    </nav>
    <body>
        {{message}}
    </body>
</html>