<!DOCTYPE html>
<html>
    <head>
        <title> Login Page</title>
        <link rel="stylesheet" href="css/calendar.css">
    </head>
    <body>
          <form id="addEvent" action="0" method="get" class="login middle">
             <h2>Login to Calendar!</h2>
             Username:
             <input type="text" id="username" name="username"> <br>
             Password:
             <input type="text" type="password" name="password"> <br>
             <button type="submit" name="submit"> Login</button>
         </form>
         <div class="middle">
         Try username: Shivani
         </div>
    </body>
<script type="text/javascript">
</script>
</html>