<!DOCTYPE html>
<html>
    <head>
        <title> Only 5 views</title>
        <link rel="stylesheet" href="css/test.css">
    </head>
         <body>
        <nav class="nav-bar" role="navigation">
            Welcome {{name}}!
        </nav>
         <div id={{limit}} class="text">
            <img src="https://user.tjhsst.edu/2021spuli/css/cant_even.jpeg" alt="dog" height="500" width="350"/>
         </div>
</body>
<script type="text/javascript">
    document.getElementById("true").innerHTML="You've reached your limit! Login in to see more"
</script>
</html>