<!DOCTYPE html>
<html>
    <head>
        <title> Electoral College</title>
        <link rel="stylesheet" href="css/test.css">
    </head>
    <body>
        <div class="answer">
            {{message}}.
        </div>
    </body>
</html>