<!DOCTYPE html>
<html>
    <head>
        <title> Electoral College</title>
        <link rel="stylesheet" href="css/test.css">
    </head>
    <body>
    <div class="answer">
        Total Electoral Votes: 538
        Votes Needed to Win: 270
        <br>
        {{state}} has {{number}} electoral votes.
        <br>
        Democrat Votes: {{dem}}     Republican Votes: {{rep}}
    </div>
</body>
</html>