<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <title> Facts About Numbers</title>
    </head>
    <body>
        <meta charset="utf-8">
       <p> <li> Fact about the number {{num}}:</li>
{{#each fact}}
<li>Did you know that {{this}} ? </li>
{{/each}} </p>
    </body>
</html>
