<!DOCTYPE html>
<html>
    <head>
        <title> The Weather</title>
        <link rel="stylesheet" href="css/test.css">
    </head>
    <nav class="nav-bar" role="navigation">
        <div class="box"><a href="/2021spuli/getweather">Today's Weather</a></div>
        <div class="box"><a href="/2021spuli/getweekly">Weekly Weather</a></div>
        <div class="box"><a href="/2021spuli/weatherform">Find Weather</a></div>
        <div class="box"><a href="/2021spuli/madlib">Mad Lib</a></div>
        <br>
    </nav>
    <body>
    <div class="main text">
        {{message}}
    </div>
</body>
</html>